* {
    margin: 0;                              /* Espaçamento externo */
    padding: 0;                             /* Espaçamento interno */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.header {
    color: red;
    margin-left: 70px;
    margin-top: 45px;
    font-weight: bold ;
}

