* {
    margin: 0;                              /* Espaçamento externo */
    padding: 0;                             /* Espaçamento interno */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: red;
    margin-left: 70px;
    padding-top: 20px;
    font-weight: bold ;
}

  .retangulo {
    width: 130px;
    height: 3px;
    background-color: #ff0000;
  
    margin-left: 890px;
  }